  <header class="app-header navbar">
      <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
      <a class="navbar-brand text-center" href="#">
        <i class="fa fa-handshake-o" aria-hidden="true" ></i> MeliApp
      </a>
      <ul class="nav navbar-nav d-md-down-none">
          <li class="nav-item">
              <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
          </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
          <!--<li class="nav-item d-md-down-none">
              <a class="nav-link" href="#"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i><span class="badge badge-pill badge-danger">5</span></a>
          </li>-->
          <li class="nav-item d-md-down-none">
              <a class="nav-link" ><i class="icon-list"></i></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link"  href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <img [src]="profile.pic_profile" class="img-avatar" [alt]="profile.correo">
                  <span class="d-md-down-none align-middle">
                    <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                  </span>
                  <span class="d-md-down-none align-middle">
                    {{ profile.nombre }}
                  </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">

                  <div class="dropdown-header text-center">
                      <strong>Configuracion</strong>
                  </div>

                  <a class="dropdown-item" ><i class="fa fa-user"></i> Perfil</a>
                  <div class="divider"></div>
                  <div class="meliLogin">
                    <a class="dropdown-item" (click)="logoutMeliapp()"><i class="fa fa-lock"></i> Logout</a>
                  </div>
                  <!-- <div class="meliLogout">
                    <a class="dropdown-item"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                  </div> -->
                  <div class="dropdown-header text-center">
                      <strong>Cuenta</strong>
                  </div>

                  <a class="dropdown-item"><i class="fa fa-bell-o"></i> Actualizaciones<span class="badge badge-info">42</span></a>
                  <a class="dropdown-item"><i class="fa fa-envelope-o"></i> Mensajes<span class="badge badge-success">42</span></a>
                  <a class="dropdown-item"><i class="fa fa-tasks"></i> Tareas<span class="badge badge-danger">42</span></a>
                  <a class="dropdown-item"><i class="fa fa-comments"></i> Comentarios<span class="badge badge-warning">42</span></a>

              </div>
          </li>
                      <li class="nav-item d-md-down-none">
              <a class="nav-link" ><i class="icon-location-pin"></i></a>
          </li>

      </ul>
  </header>
