<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Inicia Sesion con tu cuenta de Mercadolibre</h3>
          <p class="card-text">Podremos empezar con las tareas y la organizacion de tus operaciones.</p>
          <hr>
          <div class="text-center">
            <button class="btn btn-outline-primary btn-lg" type="button" style="cursor:pointer" (click)="loginMl()">
               Iniciar Sesion<i class="pf pf-mercado-pago-sign align-middle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
